<ion-header>
    <ion-toolbar>
        <ion-title>
            WASO
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col style="margin: auto 0;">
                <ion-button [routerLink]="['/register']" expand="block" color="primary">Registro</ion-button>

                <span class="divider line one-line">or</span>

                <span class="already">¿Ya tienes usuario?</span>

                <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesión</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>