.detail {
    margin-bottom: 10px;
    margin-left: 5px;
    -webkit-box-shadow: -5px 0 0 0 rgba(61, 194, 255, 1);
    -moz-box-shadow: -5px 0 0 0 rgba(61, 194, 255, 1);
    box-shadow: -5px 0 0 0 rgba(61, 194, 255, 1);
}

.fondo {
    background-color: #f3f4fa;
}