<ion-header [translucent]="true">
    <ion-toolbar color="secondary">

        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="newspaper"></ion-icon>
        </ion-buttons>

        <ion-title>
            Ordenes de Servicio
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">

    <!-- Refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="refresher($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Orders[] -->
    <app-orders [orders]="orders"></app-orders>

</ion-content>